.container {
  min-height: calc(100vh - 112px);
  background: #ffffff;
  padding-bottom: 56px;
  margin-bottom: 56px;
  box-shadow: rgb(108 114 124 / 16%) 0px -2px 4px 0px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
}

.title {
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
  object-fit: cover;
  max-height: 500;
}

p {
  padding-left: 16px;
  padding-right: 16px;
}

.metaContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0px;
}
